/* .carousel-item {
  height: 32rem;
  background:#777;
  color:white;
  position: relative;
}
.container {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  padding-bottom:50px;
} */

.caro-height{
  height:400px;
}
.img-height{
  height:400px;
  object-fit: cover;
  opacity:0.5;
}

@media screen and (max-width: 960px) {
  .caro-height{
    height:300px;
  }
  .img-height{
    height:300px;
    object-fit: cover;
    opacity:0.5;
  }

  }